@media screen and (min-width: 722px){
    /* on met en place la nav bar latérale*/
    .bigBox {
        margin: 0;
        position: fixed;
        top: 30px;
        bottom: 100px;
        left: 50px;
        right: 50px;
        overflow-y: scroll;
        display: flex;
    }
    #alt-titreHide{
        display: none;
    }   /* Pour placer le titre de la page */
    .art-container {
        display: flex;
        flex-direction:column ;
        width: 100%
    }
    #titre_navbar{
        font-size: 0.9em;
    }
    nav {
        box-shadow:  10px 10px 20px 0px gray;
        align-self: center;
        background-color: #6cb5fa;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0%;
        margin-right: 3%;
        width: 20%;
        font-size: 220%;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        text-align: center;
    }
    #menu-deroulant li {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 70%;
    }

    ul {
        padding-left: 20px;
        padding-right: 20px;
    }

    li {
        list-style: none;
        margin-bottom: 70%;
        margin-top: 50%;

    }

    /* Scrollbar styles */
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        display: none;
    }

    ::-webkit-scrollbar-thumb {
        background: grey
    }
    /* on place le titre*/

    header {
        align-self: flex-end;
        width: 70%;
        margin-bottom: 70px;
    }

    /* on place les éléments dans la box article*/
    h2 {
        margin-left: 2%;
        margin-bottom: 0px;
    }
    footer {
        position: fixed;
        bottom: 2px;
        right: 10%;
        left: 10%;
    }

}
